    @model LearnFlow.ViewModels.MapaFaseViewModel;

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/criarMapa.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <title>LearnFlow</title>
    </head>
    <body>

    <!--SE NÃO TIVER MAPA, APARECE FORM -->
    @if (string.IsNullOrEmpty(Model.Mapa.TituloMapa) && string.IsNullOrEmpty(Model.Mapa.DescMapa))
    {
        <div>
            <form action="@Url.Action("CriarMapa", "Home")" method="post" enctype="multipart/form-data">
                <label for="arquivoCapa">
                    Selecione uma capa para o mapa de estudos
                </label>
                <input type="file" name="Mapa.Imagem" accept=".jpg, .png" placeholder="Insira a capa do seu mapa" required><br>
                <input type="text" name="Mapa.TituloMapa" placeholder="Insira o Titulo do seu mapa" required><br>
                <textarea name="Mapa.DescMapa" placeholder="Insira uma descrição geral sobre o seu mapa de estudos" required></textarea><br>
                <input type="text" name="Mapa.LinkMapa" placeholder="Links gerais para estudo do mapa ou exercícios"><br>
                <button type="submit">Salvar</button>
            </form>
        </div>
    }
    else{
        <!-- CAPA DO MAPA -->
        <img src="@Model.Mapa.ImagemUrl" class="imgCapa" alt="Imagem Enviada" style="height:420px; width:1080px; border-radius: 60px; margin-top:30px;" />

        <!-- TITULO DO MAPA -->
        <h1 id="tituloMapa" class="text-center">
            @Model.Mapa.TituloMapa
            <i class="bi bi-pencil-square" style="font-size: 24px; cursor: pointer; margin-left: 8px;" onclick="abrirEditMapa()"></i>
        </h1>

        <!-- DIALOG EDITAR MAPA -->
        <dialog id="formEditMapa" class="formEditMapa">
            <form action="@Url.Action("editMapa", "Home")" method="post" enctype="multipart/form-data">
                <select name="opcao" id="opcao" class="form-control" onchange="mostrarCampo()">
                    <option value="">-- Selecione --</option>
                    <option value="tituloMapa">Titulo do mapa</option>
                    <option value="editFoto">Imagem da capa</option>
                    <option value="editDesc">Descrição do mapa</option>
                    <option value="editLink">Links de estudo</option>
                </select>

                <div id="campo-edicao" style="display: none;" class="mt-3">
                    <label id="label-edicao" for="novoValor">Qual o novo valor?</label>
                    <input type="text" name="novoValor" id="novoValor" class="form-control" />
                    <input type="file" name="novaImagem" id="novaImagem" style="display: none;" />
                </div>

                <button type="submit" class="btn btn-primary mt-3">Confirmar Edição</button>
            </form>
        </dialog>

        <div class="tudo">
            <!-- FASES -->
            <div class="fases">
                @foreach (var fase in Model.TodasFases)
                {
                    if (fase.IdFase % 2 == 0)
                    {
                        <img src="~/assets/icons/circuloFase.png" alt="CirculoFase" id="faseImagem_@fase.IdFase" style="height:80px; width:80px; margin-left: 400px" onclick="abrirDialogFase(@fase.IdFase)" />
                        <p style="margin-left: 400px">Fase @fase.IdFase</p>
                    }
                    else
                    {
                        <img src="~/assets/icons/circuloFase.png" id="faseImagem_@fase.IdFase" alt="CirculoFase" style="height:80px; width:80px;" onclick="abrirDialogFase(@fase.IdFase)" />
                        <p>Fase @fase.IdFase</p>
                    }
                    <!-- CRIAÇÃO DE FASE -->
                    <dialog id="faseDialog_@fase.IdFase" class="faseDialog">
                        @if (string.IsNullOrEmpty(fase.TituloFase) && string.IsNullOrEmpty(fase.DescFase) && string.IsNullOrEmpty(fase.LinkFase))
                        {
                            <form action="@Url.Action("CriarFase", "Home")" method="post">
                                <input type="hidden" name="Fase.IdFase" value="@fase.IdFase" />
                                <input type="text" name="Fase.TituloFase" placeholder="Qual o título da fase? O que vamos aprender nesta etapa" /><br>
                                <textarea name="Fase.DescFase" placeholder="Qual a descrição da fase? Fale sobre o tema de estudo"></textarea><br>
                                <input type="text" name="Fase.LinkFase" placeholder="Links para estudo aprofundado ou exercícios" /><br>
                                <button type="submit">Salvar</button>
                                <button type="button" onclick="fecharDialogFase(@fase.IdFase)">Fechar</button>
                            </form>
                        }
                        else
                        {
                        <!--EXIBIR FASE FORMATADA -->
                            <h4>@fase.TituloFase (Fase @fase.IdFase)</h4>
                            <p>@fase.DescFase</p>
                            <p>Links: <a href="@fase.LinkFase" target="_blank">@fase.LinkFase</a></p>
                            <button type="button" onclick="concluir(@fase.IdFase)">Marcar como concluído</button>
                            <button type="button" onclick="fecharDialogFase(@fase.IdFase)">Fechar</button>
                            <button type="button" onclick="abrirDialogEditarFase(@fase.IdFase)">Editar fase</button>
                            <!-- BOTÃO PARA DELETAR FASE -->
                            <form action="@Url.Action("DeletarFase", "Home")" method="post" style="display: inline;">
                                <input type="hidden" name="idFase" value="@fase.IdFase" />
                                <button type="submit" class="btn-delete" onclick="return confirm('Tem certeza que deseja deletar esta fase?')">Deletar Fase</button>
                            </form>
                        }
                    </dialog>
                    <!--EDIÇÃO DE FASE-->
                    <dialog id="faseEditarDialog_@fase.IdFase" class="faseDialog">
                        <form action="@Url.Action("CriarFase", "Home")" method="post">
                            <input type="hidden" name="Fase.IdFase" value="@fase.IdFase" />
                            <input type="text" name="Fase.TituloFase" value="@fase.TituloFase" /><br>
                            <textarea name="Fase.DescFase">@fase.DescFase</textarea><br>
                            <input type="text" name="Fase.LinkFase" value="@fase.LinkFase" /><br>
                            <button type="submit">Salvar</button>
                            <button type="button" onclick="fecharDialogEditarFase(@fase.IdFase)">Cancelar</button>
                        </form>
                    </dialog>
                }
                <!-- ADICIONAR NOVA FASE-->
                <button onclick="abrirDialogNovaFase()">Adicionar Nova Fase</button>

                <dialog id="novaFaseDialog" class="formEditFase">
                    <form action="@Url.Action("CriarFase", "Home")" method="post">
                        <input type="hidden" name="Fase.IdFase" value="0" />
                        <input type="text" name="Fase.TituloFase" placeholder="Qual o título da fase? O que vamos aprender nesta etapa" /><br>
                        <textarea name="Fase.DescFase" placeholder="Qual a descrição da fase? Fale sobre o tema de estudo"></textarea><br>
                        <input type="text" name="Fase.LinkFase" placeholder="Links para estudo aprofundado ou exercícios" /><br>
                        <button type="submit">Salvar</button>
                        <button type="button" onclick="fecharDialogNovaFase()">Fechar</button>
                    </form>
                </dialog>
            </div>
            <!-- DETALHES DO MAPA -->
            <div class="descricaoMapa">
                <h3>Sobre o roadmap</h3>
                <p class="text-justify">@Model.Mapa.DescMapa</p>
                <br>
                <ul>
                    <li><a href="@Model.Mapa.LinkMapa">@Model.Mapa.LinkMapa</a></li>
                </ul>
            </div>
        </div>

        <hr>
        <!-- EXCLUSÃO DO MAPA -->
        <form id="formExcluirMapa" action="@Url.Action("ExcluirMapa", "Home")" method="post">
            <button type="button" onclick="confirmarExclusao()">Excluir Mapa</button>
        </form>

        <hr>

        <h2 id="comentarioTitulo" class="text-center">Comentários</h2>
    }

       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function abrirEditMapa() {
                document.getElementById("formEditMapa").showModal();
            }
            function fecharEditMapa() {
                document.getElementById("formEditMapa").close();
            }
            function abrirDialogFase(idFase) {
                document.getElementById('faseDialog_' + idFase).showModal();
            }
            function fecharDialogFase(idFase) {
                document.getElementById('faseDialog_' + idFase).close();
            }
            function abrirDialogNovaFase() {
                document.getElementById("novaFaseDialog").showModal();
            }
            function fecharDialogNovaFase() {
                document.getElementById("novaFaseDialog").close();
            }
            function abrirDialogEditarFase(idFase) {
                document.getElementById('faseEditarDialog_' + idFase).showModal();
            }
            function fecharDialogEditarFase(idFase) {
                document.getElementById('faseEditarDialog_' + idFase).close();
            }
            //ALTERAÇÃO DE FORM PARA EDIÇÃO DE MAPA
            function mostrarCampo() {
                const opcao = document.getElementById("opcao").value;
                const campoEdicao = document.getElementById("campo-edicao");
                const inputTexto = document.getElementById("novoValor");
                const inputImagem = document.getElementById("novaImagem");

                campoEdicao.style.display = "block";
                inputTexto.style.display = "none";
                inputImagem.style.display = "none";

                if (opcao === "editFoto") {
                    inputImagem.style.display = "block";
                } else {
                    inputTexto.style.display = "block";
                }
            }

            //CONCLUSÃO DE FASE
            function concluir(idFase) {
                const imagem = document.getElementById("faseImagem_" + idFase);
                if (imagem && imagem.src.includes("circuloFase.png")) {
                    imagem.src = "/assets/icons/circuloConcluido.png";
                    imagem.style.borderRadius = "50%";
                    imagem.style.boxShadow = "0 0 10px #4CAF50";
                    imagem.style.transition = "all 0.3s ease";
                    imagem.style.width = "80px";
                    imagem.style.height = "80px";
                }
                fecharDialogFase(idFase);
            }

            // Exclusão do mapa com ALERT
            function confirmarExclusao() {
                Swal.fire({
                    title: 'Tem certeza?',
                    text: "Você não poderá reverter isso!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sim, excluir!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('formExcluirMapa').submit();
                    }
                });
            }
        </script>

    </body>
    </html>
